<div class="container">
    <div class="from">
        <div (click)="baseBox = !baseBox" class="short">
            <img src="{{base.flag}}" alt="">
            <div class="short-text">{{base.short}}</div>
            <span class="material-symbols-sharp">
                arrow_drop_down
            </span>
        </div>
        <div class="symbol">
            <label >{{base.symbol}}</label>
            <input [(ngModel)]="amount" (ngModelChange)="convertCurrencies(amount)" placeholder="0" type="number">
        </div>
    </div>
    <div class="swap">
        <span class="material-symbols-outlined">
            swap_horiz
        </span>
        <div class="rate">
            {{base.symbol}} = {{result?.info.quote}}
        </div>
    </div>
    <div class="to">
        <div (click)="compareBox = !compareBox" class="short">
            <img src="{{compare.flag}}" alt="">
            <div class="short-text">{{compare.short}}</div>
            <span class="material-symbols-sharp">
                arrow_drop_down
            </span>
        </div>
        <div class="symbol">
            <label >{{compare.symbol}}</label>
            <input *ngIf="result" placeholder="0" readonly [value]="result.result" type="text">
        </div>
    </div>
    <div *ngIf="baseBox" class="base-box">
        <div (click)="baseBox = !baseBox" class="close">&times;</div>
        <div (click)="baseSelected(currency)" *ngFor="let currency of currencies" class="currencies">
            <div class="short">
                <img src="{{currency.flag}}" alt="">
                <div class="short-text">{{currency.name}}</div>
                
            </div>
            <div class="symbol">
                <label >{{currency.short}}</label>
            </div>
        </div>
    </div>
    <div *ngIf="compareBox" class="compare-box">
        <div (click)="compareBox = !compareBox" class="close">&times;</div>
        <div (click)="compareSelected(currency)" *ngFor="let currency of currencies" class="currencies">
            <div class="short">
                <img src="{{currency.flag}}" alt="">
                <div class="short-text">{{currency.name}}</div>
                
            </div>
            <div class="symbol">
                <label >{{currency.short}}</label>
            </div>
        </div>
    </div>
</div>